<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <hr class="my-4">
    <div class="row">
        <div>
            <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
                <thead>
                <tr>
                    <th style="background-color: #eeeeee; text-align: center">번호</th>
                    <th style="background-color: #eeeeee; text-align: center">제목</th>
                    <th style="background-color: #eeeeee; text-align: center">글쓴이</th>
                    <th style="background-color: #eeeeee; text-align: center">작성일</th>
                    <th style="background-color: #eeeeee; text-align: center">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${postList}">
                    <td th:text="${post.postNumber}">1</td>
                    <td><a th:href="@{|/bbs/list/${post.postNumber}|}" th:text="${post.title}">hi</a></td>
                    <td th:text="${post.nickname}">hong</td>
                    <td th:text="|${post.getDateTime().getMonthValue()}.${post.getDateTime().getDayOfMonth()}|">2017</td>
                    <td th:text="${post.postViews}">1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><a th:href="@{/bbs/posts}" class="btn btn-primary" role="button">목록</a></div>
        <div class="col-md-2 ms-auto"><a th:href="@{/bbs/post}" class="btn btn-primary" role="button">글쓰기</a></div>
    </div>
</div> <!-- /container -->
</body>
</html>